/* color palette:
lightest: #f6f6f6
lighter: #eae9e9
grey: #d4d7dd
dark grey: 
secondary : #420000 */

/* Fonts:  */
/* font-family: 'Nunito Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

/* body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
} */

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 4em;
  color: #420000;
}

h2 {
  color: #838383;
  font-size: 2em;
  font-weight: 700;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: ##838383;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #f6f6f6;
  justify-content: center;
}

.navbar-nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-column-gap: 1em;
  padding: 2em;
  margin: 2em;
  list-style: none;
  justify-items: center;
}

.nav-btn {
  padding: 1em;
  background-color: #d4d7dd;
  justify-self: stretch;
  text-align: center;
  color: #420000;
  font-family: 'Nunito Sans', sans-serif;
}

.nav-btn:hover {
  background-color: #420000;
  color: #d4d7dd;
  transition: all .1s;
}
 
.nav-link {
  color: #420000;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-link:hover {
  color: #d4d7dd;
}

.nav-btn-1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.section-1 {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
}
.feature-content {
  position: relative;
  height: 50rem;
}

.section-2 {
  margin: 5rem 5rem 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2em;
}
.card {
  background-color: #eae9e9;
  display: grid;
}

.card-content {
  display: grid;
  grid-template-rows: repeat(4, auto-fit);
  align-items: start;
  padding: 1rem;
}

/* .card-1 {
  justify-self: stretch; 
}

.card-2 {
  justify-self: stretch; 
}

.card-3 {
  justify-self: stretch; 
} */

.card-img {
  width: 100%;
  grid-row: 1 / 2;
  height: 120px;
  object-fit: cover;
}

.feature-content-title {
  grid-row: 2 / 3;
  /* align-self: start; */
  margin-top: 2rem;
  line-height: 1.5;
}

.feature-content-description {
  grid-row: 3 / 4;
  margin: 1rem 0;
}

.feature-content-link {
  color: #420000;
  width: 60%;
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #420000;
  padding: 20px;
  width: 200px;
  height: 70px; 
  line-height: 1;
  justify-self: center;
  grid-row: 4 / 5;
}

.feature-content-link:hover {
  background-color: #420000;
  color: #d4d7dd;
}

.about-section {
  margin-top: 5rem;
}

.section-3 {
  margin: 5rem 5rem 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2em;
  grid-template-rows: repeat(4, auto-fit);
}

.blog-content {
  background-color: #d4d7dd;
  padding: 1rem;
  display: grid;
}

/* .blog-1 {
  grid-column: 
  grid-column-end: 4;
}

.blog-2 {
  grid-column-start: 4;
  grid-column-end: 6;
} */

.blog-image {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
}

.blog-title {
  margin-top: 1rem;
}

.blog-text {
  margin: 1rem 0;
}

.blog-link {
  display: inline-block;
  color: #420000;
  width: 60%;
  font-size: 1.5em;
  margin: 1.5rem 0;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #420000;
  padding: 20px;
  width: 200px;
  height: 70px; 
  justify-self: center;
  line-height: 1;
  text-decoration: none;
}

.blog-link:hover {
  background-color: #420000;
  color: #d4d7dd;
}

.section-4 {
background: #EFEFBB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 400px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 5rem;
}

.section-5 {
  margin: 5rem 5rem 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-column-gap: 20px;
}

.test-card {
  background-color:#eae9e9;
  color: #838383;
}

.content-link {
  background-color: #fff;
  border: 1px solid #838383;
  color: #838383;
  padding: 20px;
  width: 200px;
  height: 50px; 
  text-align: center;
  line-height: 10px;
  border-radius: 20px;
  text-decoration: none;
}

.test-content {
  display: grid;
  grid-auto-rows: repeat(4, minmax(100px, auto));
  align-items: center;
  padding: 1rem;
}

.test-img {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 120px;
}

.test-title {
  margin-top: 1rem;
}

.test-text {
  margin: 1rem 0;
  height: 8rem;
}

.section-6 {
  margin: 5rem 5rem 0 5rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f6f6f6;
}
.big-box {
margin-left: 1rem;
}

.big-img {
  width: 100%;
}

.big-title {
  margin: 1rem 0;
}

.section-7 {
  margin: 5rem 5rem 0 5rem;
  background-color: #eae9e9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 2em;
  grid-template-rows: repeat(auto-fit minmax(50px, 1fr));
  align-items: stretch;
}

.form-title {
  justify-self: center;
  grid-column: 1 / -1;
}

.form-text {
  justify-self: center;
  grid-column: 1 / -1;
  background-color: #fff;
  /* margin: 2rem; */
  padding: 2rem;
}

.form-group-1 {
  display: grid;
  grid-auto-rows: repeat(3, minmax(50px, auto));
  grid-row-gap: 2rem;
  margin: 2rem 0 2rem 5rem;
  justify-self: stretch;
  width: auto;
}

.form-group-2 {
 justify-self: stretch;
 margin: 2rem 5rem 2rem 2rem;
 display: grid;
 grid-auto-rows: repeat(3, minmax(50px, auto));
 grid-row-gap: 2rem;
}

.small-input {
  /* width: 200px; */
  border: none;
  color: #838383;
}

#name {
  grid-row: 1 / 2;
  padding: .5rem;
}

#email {
  grid-row: 2 / 3;
  padding: .5rem;
}

#subject {
  grid-row: 3 / 4;
  padding: .5rem;
}

#comment {
  grid-row: 1 / 3;
  padding: .5rem;
  border: none;
  color: #838383;
}

.submit-btn {
  grid-row: 3 / 4;
  padding: .5rem;
  border: none;
  background-color: #420000;
  color: #eae9e9;
}






















`